{% extends 'base.html.twig' %}

{% block title %}
	{{ formation.nom }}
{% endblock %}

{% block contenu %}

	<div class="formation-content">

		<h1>{{ formation.nom }}</h1>

		<div class="formation-detail flex">

			<div class="formation-desc">
				<h4>Description</h4>
				{{formation.descriptif}}

				<div class="formation-module">
					<h4>Module(s)</h4>
					{% for module in formation.durees %}
					<ul>
					
					<li>{{module}}</li>
					
					</ul>
					{% endfor %}
				</div>

			</div>


			<figure>
				<img src="{{ formation.image }}" alt="image formation">
			</figure>

		</div>


	</div>

	{% if app.user %}

	

	<a class="btn btn-primary btn-sm" href="{{ path('add_duree', {'id': formation.id}) }}">Gerer les modules</a>
	
	{% endif %}


	<a class="btn btn-outline-secondary btn-sm" href="{{ path('pdf_formation', {'id': formation.id}) }}">Télécharger le pdf</a>

	<h2>Sessions disponibles</h2>

	{% for session in formation.sessions %}
		<p>{{ session.dateDebut | date('d/m/Y')}}
			-
			{{ session.dateFin | date('d/m/Y') }}</p>
	{% endfor %}

	<a href="#ancre">
		<button class="btn btn-secondary" id="inscr">S'inscrire</button>
	</a>
	<div class="inscr-content">
		<h2>Inscription</h2>

		<div class="contactForm mt-4">
			{{ form_start(form) }}
			<div class="row">
				<div class="col">{{ form_row(form.firstname) }}</div>
				<div class="col">{{ form_row(form.lastname) }}</div>
			</div>
			<div class="row">
				<div class="col">{{ form_row(form.email) }}</div>
				<div class="col">{{ form_row(form.phone) }}</div>
			</div>
			{{form_rest(form)}}
			<br>
			<div id="ancre" class="form-group">
				<button class="btn btn-primary">Envoyer</button>
			</div>

			{{ form_end(form) }}
		</div>
	</div>
</div>{% endblock %}
