{% extends 'base.html.twig' %}

{% block body %}

<h1>OUHO</h1>

<a href="{{ path('stagiaire_index') }}">Liste des Stagiaires</a>
</br>
<a href="{{ path('formation_index') }}">Liste des Formations</a>
</br>
<a href="{{ path('session_index') }}">Liste des Sessions</a>
</br>
<a href="{{ path('categorie_index') }}">Liste des Catégories</a>
</br>
<a href="{{ path('module_index') }}">Liste des Modules</a>
</br>
<a href="{{ path('user_index') }}">Liste des Users</a>

{% endblock %}
