{% extends "basePanel.html.twig" %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

  
      <!-- partial -->
      
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/img/cloud_learning.png" alt="logo" /></a>
          </div>
          {# AJOUTER BOUTTON DECONNEXION ICI #}
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">5</h3>
                          
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Nombre de formations</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">30</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Nombre de stagiaires</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">35</h3>
                        
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Nombre de salariés</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">25</h3>
                          
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Nombre de modules</h6>
                  </div>
                </div>
              </div>
            </div>
            
            {# TABLEAU LISTE FORMATIONS #}
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Liste des formations</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                          
                            <th> Nom </th>
                            <th> Descriptif </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>

                        {% for formation in formations %}
                           <tr>
                           
                            <td><a href="{{ path('formation_show', {'id':formation.id}) }}">{{ formation.nom }}</a></td>
                            <td> {{ formation.descriptif|striptags|slice(0,50)|raw }} ... </td>
                            <td><a href="{{ path('formation_delete', {'id':formation.id }) }}"><i class="far fa-trash-alt"></i></a> <a href="{{ path('formation_edit', {'id':formation.id }) }}"><i class="far fa-edit"></i></a></td>
                          </tr>
                        {% endfor %}
                         
                
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {# TABLEAU LISTE FORMATIONS #}
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Liste des sessions</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                          
                            <th> Nom </th>
                            <th> Date de début </th>
                            <th> Date de fin </th>
                            <th>Place(s) restante</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>

                        {% for session in sessions %}
                           <tr>
                            <td>{{ session.contenir.nom }}</td>
                            <td>{{ session.dateDebut | date('d/m/Y') }} </td>
                            <td>{{ session.dateFin | date('d/m/Y') }}</td>
                            <td>{{ session.nbPlaces }}</td>
                            <td><a href="{{ path('session_delete', {'id':session.id }) }}"><i class="far fa-trash-alt"></i></a> <a href="{{ path('session_edit', {'id':session.id }) }}"><i class="far fa-edit"></i></a></td>
                          </tr>
                        {% endfor %}
                         
                
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {# TABLEAU LISTE SALARIES #}
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Liste des salariés</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                          
                            <th> Nom et prénom </th>
                            <th> Role </th>
                            <th> Email </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>

                        {% for user in users %}
                           <tr>
                           
                            <td><a href="{{ path('user_show', {'id':user.id}) }}">{{ user.prenom ~' '~ user.nom}}</a></td>
                            <td> ROLE </td>
                            <td>{{ user.email }}</td>
                            <td><a href="{{ path('user_delete', {'id':user.id }) }}"><i class="far fa-trash-alt"></i></a> <a href="{{ path('formation_edit', {'id':user.id }) }}"><i class="far fa-edit"></i></a></td>
                          </tr>
                        {% endfor %}
                         
                
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            {# TABLEAU LISTE DES STAGIAIRES #}
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Liste des stagiaires</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                          
                            <th> Nom et prénom </th>
                            <th> Email </th>
                            <th> Téléphone </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>

                        {% for stagiaire in stagiaires %}
                           <tr>
                           
                            <td><a href="{{ path('stagiaire_show', {'id':stagiaire.id}) }}">{{ stagiaire.prenom ~' '~ stagiaire.nom }}</a></td>
                            <td> {{ stagiaire.email }} </td>
                            <td> {{ stagiaire.telephone }} </td>
                            <td><a href="{{ path('stagiaire_delete', {'id':stagiaire.id }) }}"><i class="far fa-trash-alt"></i></a> <a href="{{ path('formation_edit', {'id':stagiaire.id }) }}"><i class="far fa-edit"></i></a></td>
                          </tr>
                        {% endfor %}
                         
                
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            {# LISTE DES MODULES #}
            <div class="row">
              <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title">Liste des modules</h4>
                      <p class="text-muted mb-1 small">View all</p>
                    </div>
                    <div class="preview-list">
                      
                      {% for module in modules %}

                      <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                          <img src="assets/images/faces/face6.jpg" alt="image" class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <h6 class="preview-subject">{{module.nom}}</h6>
                             
                            </div>
                            <p class="text-muted">{{module.descriptif}}</p>
                          </div>
                        </div>
                      </div>
                        
                      {% endfor %}
                      
                      
                    </div>
                  </div>
                </div>
              </div>

              {# LISTE DES CATEGORIES #}
               <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title">Liste des catégories</h4>
                      <p class="text-muted mb-1 small">View all</p>
                    </div>
                    <div class="preview-list">
                      
                      {% for categorie in categories %}

                      <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                          <img src="assets/images/faces/face6.jpg" alt="image" class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <h6 class="preview-subject">{{categorie.nom}}</h6>
                             
                            </div>
                            <p class="text-muted">{{categorie.descriptif}}</p>
                          </div>
                        </div>
                      </div>
                        
                      {% endfor %}
                      
                      
                    </div>
                  </div>
                </div>
              </div>

               
            </div>
           
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    
  
{% endblock %}
