{% extends "basePanel.html.twig" %}

{% block title %}Liste des stagiaires
{% endblock %}

{% block body %}

	<!-- partial -->

	<div
		class="container-fluid page-body-wrapper">
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar p-0 fixed-top d-flex flex-row">
			<div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
				<a class="navbar-brand brand-logo-mini" href="index.html"><img src="/img/cloud_learning.png" alt="logo"/></a>
			</div>
			{# AJOUTER BOUTTON DECONNEXION ICI #}
		</nav>
		<!-- partial -->
		<div class="main-panel">
			<div
				class="content-wrapper">


				 {# TABLEAU LISTE DES STAGIAIRES #}
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Liste des stagiaires</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                          
                            <th> Nom et prénom </th>
                            <th> Email </th>
                            <th> Téléphone </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>

                        {% for stagiaire in stagiaires %}
                           <tr>
                           
                            <td><a href="{{ path('stagiaire_show', {'id':stagiaire.id}) }}">{{ stagiaire.prenom ~' '~ stagiaire.nom }}</a></td>
                            <td> {{ stagiaire.email }} </td>
                            <td> {{ stagiaire.telephone }} </td>
                            <td><a href="{{ path('stagiaire_delete', {'id':stagiaire.id }) }}"><i class="far fa-trash-alt"></i></a> <a href="{{ path('stagiaire_edit', {'id':stagiaire.id }) }}"><i class="far fa-edit"></i></a></td>
                          </tr>
                        {% endfor %}
                         
                
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->
				<footer class="footer">
					<div class="d-sm-flex justify-content-center justify-content-sm-between">
						<span class="text-muted d-block text-center text-sm-left d-sm-inline-block"> © CloudLearning Panel 2020</span>
						
					</div>
				</footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>


{% endblock %}
