{% extends 'base.html.twig' %}

{% block contenu %}
<a href="{{ path('stagiaire_index') }}">Retour</a>
        <h1>{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom }}</h1>
        <p>{{ ' Né(e) le : ' ~ stagiaire.dateNaissance | date('d/m/Y')}}</p>
        <p>{{ ' Adresse e-mail : ' ~ stagiaire.email }}</p>
        <p>{{ ' Téléphone : ' ~ stagiaire.telephone}}</p>

        <h2>Sessions prévues</h2>
      <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nom de la formation</th>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">place(s) restante</th>
    </tr>
  </thead>
  <tbody>
  
{% for session in stagiaire.sessions %}
<tr>
    <th> {{session.contenir.nom }}</th>
    <th>{{session.dateDebut | date("d/m/Y") }}</th>
    <th>{{session.dateFin | date("d/m/Y") }}</th>
    <th>{{session.nbPlaces }}</th>
    
{% endfor %}
       {% for session in stagiaire.sessions %}

       {% endfor %}

  </tbody>
</table>
      
{% endblock %}