{% extends 'base.html.twig' %}

{% block contenu %}
<a href="{{ path('stagiaire_index') }}">Retour</a>
        <h1>{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom }}</h1>
        <p>{{ ' Né(e) le : ' ~ stagiaire.dateNaissance | date('d/m/Y')}}</p>
        <p>{{ ' Adresse e-mail : ' ~ stagiaire.email }}</p>
        <p>{{ ' Téléphone : ' ~ stagiaire.telephone}}</p>

        <h2>Sessions prévues</h2>
       {% for session in stagiaire.sessions %}

       {% endfor %}

{% endblock %}